@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /*font-family: 'Roboto', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--letterColor);
}

::root{
    --letterColor: #373737;
    --titleColor: #272727;
    --buttonColor: #D90C0C;
}

html{
    scroll-behavior: smooth;

}

body{
    background: #F2F2F2;
}

.transition{
    transition: all 300ms;
}

/* -- SCROLLBAR -- */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #D90C0C;
  border-radius: 6px;
}

/* NAVBAR */
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e4e4e4;
    position: fixed;
    top: 0;
    background: #FFF;
    z-index: 500;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.062745098);
}
.navbar{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerLogo img{
    width: 220px;
}
nav{
    height: 100%;
    position: relative;
}
nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0 10px;
}
nav ul a:hover{
    border: 2px solid #e4e4e4;
    transform: translate(0, -5px);
}
nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
    padding: 0 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
}
nav ul li a svg{
    width: 35px;
}
nav ul li a span{
    background-color: #D90C0C;
    color: #FFFFFF;
    padding: 5px 8px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: 12px;
    font-size: 11px;
}
.menuBurger{
    width: 35px;
    display: none;
}
.move-nav{
    height: 80px;
}

/* BG INICIO */
.bgMoto{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/img/bgMotoBoy.webp) no-repeat center center/cover;
}
.txtInicio{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.txtInicio h1{
    font-size: 3.5rem;
    color: #fff4f4;
    font-weight: 600;
    margin-bottom: 10px;
}
.txtInicio p{
    font-size: 1.8rem;
    color: #d1d1d1;
    margin-bottom: 50px;
}
.btnInicio{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.verProductos{
    font-size: 1.2rem;
    background-color: #D90C0C;
    border: 2px solid #D90C0C;
    border-radius: 15px;
    padding: 10px 20px;
    color: #ececec;
    font-weight: 600;
}
.verProductos:hover{
    background: transparent;
}

/* WHATSAPP ICON */
.whatsappIcon{
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #4dc247;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border-radius: 50%;
}
.whatsappIcon:hover{
    transform: translate(0, -8px);
}
.whatsappIcon a svg{
    padding: 5px;
    width: 45px;
    vertical-align: middle;
}

/* NEW PRODUCTS */
.newProducts{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.newProducts__title h2{
    color: var(--titleColor);
    font-size: 3rem;
    margin-bottom: 50px;
    text-align: center;
}
.newProducts__catalogue{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
}
.catalogue__product{
    width: 224px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid #f7f7f7;
    margin-bottom: 20px;
    overflow: hidden;
}
.catalogue__product img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}
.catalogue__product span{
    width: 100%;
    margin-top: 20px;
    color: #8a8a8a;
    font-size: 1.8rem;
    text-align: center;
}
.catalogue__product button{
    width: 100%;
    margin-top: 10px;
    background: #D90C0C;
    padding: 10px 20px;
    border: 2px solid #D90C0C;
    color: white;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}
.catalogue__product button:hover{
    color: #D90C0C;
    background: transparent;
}

.searchProduct{
    width: 50%;
    margin-bottom: 50px;
}
.searchProduct input{
    width: 100%;
    padding: 15px;
    height: 40px;
    font-size: .9rem;
    border-radius: 20px;
    border: 2px solid #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* BANNER */
.bannerDescuento{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}
.bannerItem{
    width: 90%;
    height: 200px;
    background: url(../assets/img/banner.webp) no-repeat center left/cover;
}

/* GALERIA */
.galeriaProductos{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.galeriaProductos__container{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item2"
    "item1 item3";
    gap: 1rem;
}

.container_items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container_items:hover{
    transform: translate(0, -10px);
}
.container__item1{
    grid-area: item1;
}
.container__item2{
    grid-area: item2;
}
.container__item3{
    grid-area: item3;
}

.container__item1 img{
    width: 200px;
    object-fit: cover;
    object-position: center;
}
.container__item2 img{
    width: 100px;
    object-fit: cover;
    object-position: center;
}

.container__item3 img{
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.container_items span{
    position: absolute;
    bottom: 0;
    background: #d90c0ceb;
    color: #FFF;
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

/* TABLA PRODUCTOS */
.tablaProductos{
    position: fixed;
    top: -5000px;
    background-color: rgba(110, 110, 110, 0.199);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 300ms;
}
.tableContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tableContainer svg {
    width: 35px;
    background-color: #D90C0C;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.tableContainer table{
    width: 80%;
    border: 2px solid #D90C0C;
    background: #FFF;
}
.tableContainer table thead th{
    background-color: #D90C0C;
    padding: 10px;
    color: #FFF;
}
.tableContainer table tr td{
    text-align: center;
    padding: 10px;
}
.mostrarTabla{
    top: 1px;
}

/* CARRITO LISTA */
.carritoSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.carritoContainer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.carritoContainer h2{
    color: var(--titleColor);
    font-size: 2.3rem;
    margin-bottom: 20px;
}
.carritoProductos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;
}
.productoLista{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
    padding: .5rem;
    border-radius: 20px;
    gap: 3rem;
    text-align: left;
    border: 2px solid #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.productoLista img{
    width: 4rem;
    border-radius: 10px;
}
.productoLista svg{
    cursor: pointer;
    width: 2rem;
}
.tituloProduct{
    min-width: 200px;
}
.infoProduct small{
    font-size: .75rem;
}
.infoProduct h3{
    font-size: 1.2rem;
    font-weight: 600;
}
.infoProduct h4, h5, h6{
    font-size: 1rem;
}
.botonesProductos{
    width: 90%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vaciarCarrito button{
    border-radius: 1rem;
    background-color: #D90C0C;
    color: #FFF;
    padding: 1rem;
    border: 2px solid #D90C0C;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms;
}
.vaciarCarrito button:hover{
    background-color: transparent;
    color: #D90C0C;
}
.totalCarrito{
    display: flex;
}
.precioTotal{
    display: flex;
    background: #F2F2F2;
    padding: 1rem;
    color: var(--letterColor);
    gap: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: .9rem;
    align-items: center;
    font-weight: 800;
    border: 2px solid #e3e3e3;
}
.totalCarrito button{
    background: #D90C0C;
    border: 2px solid #D90C0C;
    padding: 1rem;
    color: #FFF;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: .9rem;
    font-weight: 700;
    transition: all 300ms;
}
.totalCarrito button:hover{
    background-color: transparent;
    color: #D90C0C;
}

/* MENU ADMIN */
.adminMenu{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c2c2cc9;
    position: fixed;
    top: -700px;
}
.move-adminMenu{
    top: 0;
}
.newProductContainer{
    width: 60%;
    padding: 50px;
    border-radius: 20px;
    background: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.newProductContainer h2{
    font-size: 1.6rem;
}
.formProduct{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.formProduct form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.formProduct form input{
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #bebebe;
}
.formProduct .buttonsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btnAdmin{
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #D90C0C;
    background: #D90C0C;
    font-size: .9rem;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms;
}
.btnAdmin:hover{
    background: #FFF;
    color: #D90C0C;
}

/* FOOTER */
footer{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/img/bgFooter.webp) no-repeat center center/cover;
}
.footerContainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.infoMotor{
    color: #FFF;
    font-size: 1.1rem;
}
.infoMotor img{
    margin-bottom: 30px;
    width: 250px;
}
.infoMotor p{
    padding-right: 100px;
}
.linksContainer{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.linksContainer svg{
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.mapMotor iframe{
    border-radius: 20px;
    width: 500px;
    height: 350px;
}

/* MEDIAQUERIES */
@media screen and (max-width: 900px) {
    .menuBurger{
        display: inline-block;
        cursor: pointer;
    }
    nav{
        width: 100%;
        height: 0;
        position: fixed;
        overflow: hidden;
        top: 80px;
        left: 0;
        background: #FFFFFF;
    }

    .galeriaProductos__container{
        width: 90%;
    }

    .menuAdmin{
        flex-direction: column;
    }
    .menuAdmin a{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .bannerDescuento{
        display: none;
    }

    .searchProduct{
        width: 80%;
    }

    .footerContainer{
        flex-direction: column;
    }
    .infoMotor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .infoMotor p{
        padding-right: 0;
        text-align: center;
    }
    .mapMotor{
        margin-top: 50px;
    }
    .mapMotor iframe{
        border-radius: 20px;
        width: 100%;
        height: 350px;
    }

    .newProductContainer{
        width: 95%;
        padding: 20px;
    }
    .formProduct{
        width: 95%;
    }
    .formProduct form input{
        width: 100%;
    }

    .btnAdmin{
        font-size: .7rem;
    }

    .productoLista{
        gap: 2rem;
        flex-direction: column;
        text-align: center;
    }
    .botonesProductos{
        gap: 2rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 445px){
    .btnInicio a.comprarBtn{
        margin-left: 0;
        margin-top: 20px;
    }
}