@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /*font-family: 'Roboto', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--letterColor);
}

::root{
    --letterColor: #373737;
    --titleColor: #272727;
    --buttonColor: #D90C0C;
}

body{
    background: #F2F2F2;
}

.transition{
    transition: all 300ms;
}

/* -- SCROLLBAR -- */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #D90C0C;
  border-radius: 6px;
}

/* NAVBAR */
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e4e4e4;
    position: fixed;
    background: #FFF;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.062745098);
}
.navbar{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerLogo img{
    width: 220px;
}
nav{
    height: 100%;
}
nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0 10px;
}
nav ul a:hover{
    border: 2px solid #e4e4e4;
    transform: translate(0, -5px);
}
nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
    padding: 0 20px;
    border: 2px solid transparent;
    border-radius: 10px;
}
nav ul li a svg{
    width: 35px;
}

/* BG INICIO */
.bgMoto{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(121, 0, 0, 0.3), rgba(121, 0, 0, 0.3)), url(../assets/img/bgMotoBoy.webp) no-repeat center center/cover;
}
.txtInicio{
    text-align: center;
    width: 100%;
}
.txtInicio h1{
    font-size: 3.5rem;
    color: #ececec;
    font-weight: 600;
    margin-bottom: 10px;
}
.txtInicio p{
    font-size: 1.8rem;
    color: #d1d1d1;
    margin-bottom: 50px;
}
.txtInicio a{
    font-size: 1.2rem;
    background-color: #D90C0C;
    border: 2px solid #D90C0C;
    border-radius: 15px;
    padding: 10px 20px;
    color: #ececec;
    font-weight: 600;
}
.txtInicio a:hover{
    background: transparent;
}

/* WHATSAPP ICON */
.whatsappIcon{
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #4dc247;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border-radius: 50%;
}
.whatsappIcon:hover{
    transform: translate(0, -8px);
}
.whatsappIcon a svg{
    padding: 5px;
    width: 45px;
    vertical-align: middle;
}

/* NEW PRODUCTS */
.newProducts{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.newProducts__title h2{
    color: var(--titleColor);
    font-size: 3rem;
    margin-bottom: 50px;
}
.newProducts__catalogue{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
}
.catalogue__product{
    width: 224px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid #f7f7f7;
    margin-bottom: 20px;
    overflow: hidden;
}
.catalogue__product img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}
.catalogue__product span{
    width: 100%;
    margin-top: 20px;
    color: #8a8a8a;
    font-size: 1.8rem;
    text-align: center;
}
.catalogue__product button{
    width: 100%;
    margin-top: 10px;
    background: #D90C0C;
    padding: 10px 20px;
    border: 2px solid #D90C0C;
    color: white;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}
.catalogue__product button:hover{
    color: #D90C0C;
    background: transparent;
}

/* BANNER */
.bannerDescuento{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}
.bannerItem{
    width: 90%;
    height: 200px;
    background: url(../assets/img/banner.webp) no-repeat center left/cover;
}

/* GALERIA */
.galeriaProductos{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.galeriaProductos__container{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item2"
    "item1 item3";
    gap: 1rem;
}

.container_items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.container_items:hover{
    transform: translate(0, -10px);
}
.container__item1{
    grid-area: item1;
}
.container__item2{
    grid-area: item2;
}
.container__item3{
    grid-area: item3;
}

.container__item1 img{
    width: 200px;
    object-fit: cover;
    object-position: center;
}
.container__item2 img{
    width: 100px;
    object-fit: cover;
    object-position: center;
}

.container__item3 img{
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.container_items span{
    position: absolute;
    bottom: 0;
    background: #D90C0C;
    color: #FFF;
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}