@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /*font-family: 'Roboto', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--letterColor);
}

::root{
    --letterColor: #373737;
    --titleColor: #272727;
    --buttonColor: #D90C0C;
}
.transition{
    transition: all 300ms;
}

/* NAVBAR */
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
    position: fixed;
    background: #FFF;
}
.navbar{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerLogo img{
    width: 220px;
}
nav{
    height: 100%;
}
nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0 10px;
}
nav ul a:hover{
    border: 2px solid #e4e4e4;
    transform: translate(0, -5px);
}
nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
    padding: 0 20px;
    border: 2px solid transparent;
    border-radius: 10px;
}
nav ul li a svg{
    width: 35px;
}

/* BG INICIO */
.bgMoto{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(121, 0, 0, 0.3), rgba(121, 0, 0, 0.3)), url(../assets/img/bgMotoBoy.webp) no-repeat center center/cover;
}
.txtInicio{
    text-align: center;
    width: 100%;
}
.txtInicio h1{
    font-size: 3.5rem;
    color: #ececec;
    font-weight: 600;
    margin-bottom: 10px;
}
.txtInicio p{
    font-size: 1.8rem;
    color: #d1d1d1;
    margin-bottom: 50px;
}
.txtInicio a{
    font-size: 1.2rem;
    background-color: #D90C0C;
    border: 2px solid #D90C0C;
    border-radius: 15px;
    padding: 10px 20px;
    color: #ececec;
    font-weight: 600;
}
.txtInicio a:hover{
    background: transparent;
}

/* WHATSAPP ICON */
.whatsappIcon{
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #4dc247;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border-radius: 50%;
}
.whatsappIcon:hover{
    transform: translate(0, -8px);
}
.whatsappIcon a svg{
    padding: 5px;
    width: 45px;
    vertical-align: middle;
}

/* NEW PRODUCTS */
